<div ng-repeat="question in questionsController.questions">
    <span> {{question.text}} </span>
    <span> {{question.answer}} </span>
</div>
<hr/>
<ui-view>
    <div ng-if="questionsController.getCurrentTag()">
        <form ng-submit="questionsController.addNewQuestion()" novalidate>
            <div>
                <label>Question Text</label>
                <input type="text" ng-model="questionsController.newQuestion.text" placeholder="Enter question">
            </div>
            <div>
                <label>Answer</label>
                <input type="text" ng-model="questionsController.newQuestion.answer" placeholder="Enter answer">
            </div>
            <div >
                <label >Tag</label>
                <input type="text" ng-model="questionsController.newQuestion.tag" placeholder="Enter tag">
            </div>
            <button type="submit" class="btn btn-info btn-md">Create</button>
        </form>
    </div>
</ui-view>


