<ui-view>
<button class="btn btn-info btn-md .submit-button toggle-quiz" ng-click="questionsController.quizMe()">Toggle quiz!</button>
<div ng-if="!questionsController.quizTime">
<div ng-repeat="question in questionsController.questions | filter: {_tag: questionsController.getCurrentTag()}">
  <div class="question">
    <div class="question-inside">
    <strong>Question: </strong> <span > {{question.text}} </span></br>
    <strong>Answer: </strong> <span> {{question.answer}} </span></br>
    <strong>Tag: </strong> <span> {{question._tag}} </span>
    </div>
    <button type="button" class="close" ng-click="questionsController.deleteQuestion(question)">&times;</button>
<!--     <button type="button" class="btn-link" ui-sref="knowit.tags.questions.edit(question)"><span class="glyphicon glyphicon-pencil"></span>
    </button> -->
  </div>
</div>
<hr/>
    <div >
        <h2> Create a new question! </h2>
        <hr/>
        <form ng-submit="questionsController.addNewQuestion()" novalidate>
            <div class="center">
                <label>Question Text</label>
                <textarea type="text" ng-model="questionsController.newQuestion.text" placeholder="Enter question" spellcheck="true"></textarea>
            </div>
            <div class="center">
                <label>Answer</label>
                <textarea type="text" ng-model="questionsController.newQuestion.answer" placeholder="Enter answer" spellcheck="true"></textarea>
            </div>
            <div class="center">
                <label >Tag</label>
                <input type="text" ng-model="questionsController.newQuestion.tag" placeholder="Enter tag" spellcheck="true">
            </div>
            <button type="submit" class="btn btn-info btn-md .submit-button">Create</button>
        </form>
    </div>
</div>
</ui-view>


